<ng-container *ngIf="loaded; else spin">
  <div class="card">
    <p-table
      [value]="pagination.data"
      sortMode="multiple"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="header">
        <tr [formGroup]="form">
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formName)"
                [ngClass]="
                  formName?.value ? 'pi pi-filter-slash' : 'pi pi-filter'
                "
              ></i>
              <input type="text" pInputText formControlName="name" />
            </span>
          </th>
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formfactoryLaboratory)"
                [ngClass]="
                  formfactoryLaboratory?.value
                    ? 'pi pi-filter-slash'
                    : 'pi pi-filter'
                "
              ></i>
              <input
                type="text"
                pInputText
                formControlName="factoryLaboratory"
              />
            </span>
          </th>
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formManufacturingDate)"
                [ngClass]="
                  formManufacturingDate?.value
                    ? 'pi pi-filter-slash'
                    : 'pi pi-filter'
                "
              ></i>
              <p-inputMask
                [readonly]="true"
                mask="9999-99-99"
                formControlName="manufacturingDate"
                placeholder="AAAA-MM-DD"
              ></p-inputMask>
            </span>
          </th>
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formdueDate)"
                [ngClass]="
                  formdueDate?.value ? 'pi pi-filter-slash' : 'pi pi-filter'
                "
              ></i>
              <p-inputMask
                [readonly]="true"
                mask="9999-99-99"
                formControlName="dueDate"
                placeholder="AAAA-MM-DD"
              ></p-inputMask>
            </span>
          </th>
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formStock)"
                [ngClass]="
                  formStock?.value ? 'pi pi-filter-slash' : 'pi pi-filter'
                "
              ></i>
              <p-inputNumber formControlName="stock"></p-inputNumber>
            </span>
          </th>
          <th style="width: 20%">
            <span class="p-input-icon-right">
              <i
                (click)="resetFilter(formunitPrice)"
                [ngClass]="
                  formunitPrice?.value ? 'pi pi-filter-slash' : 'pi pi-filter'
                "
              ></i>
              <p-inputNumber
                formControlName="unitPrice"
                mode="decimal"
                [maxFractionDigits]="2"
              ></p-inputNumber>
            </span>
          </th>
          <th style="width: 20%"></th>
          <th style="width: 20%">
            <button
              (click)="upsert()"
              pTooltip="Agregar medicamento"
              tooltipPosition="top"
              pButton
              pRipple
              type="button"
              icon="pi pi-plus"
              class="p-button-rounded p-button-success"
            ></button>
          </th>
          <th style="width: 20%"></th>
        </tr>

        <tr>
          <th pSortableColumn="name" style="width: 20%">
            Nombre <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="factoryLaboratory" style="width: 20%">
            Laboratorio de fábrica
            <p-sortIcon field="factoryLaboratory"></p-sortIcon>
          </th>
          <th pSortableColumn="manufacturingDate" style="width: 20%">
            Fecha de fabricación
            <p-sortIcon field="manufacturingDate"></p-sortIcon>
          </th>
          <th pSortableColumn="dueDate" style="width: 20%">
            Fecha de vencimiento <p-sortIcon field="dueDate"></p-sortIcon>
          </th>
          <th pSortableColumn="stock" style="width: 20%">
            Stock <p-sortIcon field="stock"></p-sortIcon>
          </th>
          <th pSortableColumn="unitPrice" style="width: 20%">
            Precio Unitario <p-sortIcon field="unitPrice"></p-sortIcon>
          </th>
          <th style="width: 20%"></th>
          <th style="width: 20%; font-size: 1.3rem">Opciones</th>
          <th style="width: 20%"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-medicine>
        <tr>
          <td>{{ medicine.name }}</td>
          <td>{{ medicine.factoryLaboratory }}</td>
          <td>{{ medicine.manufacturingDate | date : "yyyy-MM-dd" }}</td>
          <td>{{ medicine.dueDate | date : "yyyy-MM-dd" }}</td>
          <td>{{ medicine.stock }}</td>
          <td>${{ medicine.unitPrice }}</td>
          <td style="text-align: center">
            <i
              (click)="sell(medicine.id)"
              class="pi pi-shopping-cart"
              style="font-size: 1.5rem; color: #4b951f; cursor: pointer"
            ></i>
          </td>
          <td style="text-align: center">
            <i
              (click)="upsert(medicine.id)"
              class="pi pi-pencil"
              style="font-size: 1.5rem; color: #32b1ec; cursor: pointer"
            ></i>
          </td>
          <td style="text-align: center">
            <i
              (click)="remove(medicine.id)"
              class="pi pi-trash"
              style="font-size: 1.5rem; color: #ff3f3f; cursor: pointer"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="pagination.rows"
      [totalRecords]="pagination.totalElements"
      [rowsPerPageOptions]="pagination.rowsPerPage"
      (onPageChange)="pageChangeEvent($event)"
    ></p-paginator>
  </div>
</ng-container>

<ng-template #spin> </ng-template>

<p-toast></p-toast>

<p-toast position="center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="center" style="margin-bottom: 2rem">
        <button
          type="button"
          pButton
          (click)="onConfirm(message.data)"
          label="Si"
          class="p-button-danger"
        ></button>
        <button
          type="button"
          pButton
          (click)="onReject()"
          label="No"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </ng-template>
</p-toast>
